@import "./main.scss";


/***********************************/
/***********************************/
/***********************************/



/***********************************/
/***********************************/
// PAGE MENU
/***********************************/
/***********************************/

body {
  font-family: 'Raleway', sans-serif;

  >header {
    margin-top: 15px;

    >div.return-acceuil{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    >div.return-btn{
      position: absolute;
      left: 20px;
      bottom: 15px;

        >a{
          text-decoration: none;
          color: #000;

          >i{
            font-size: 1.4em;
          }
        }
      }

      >h1{
        margin: 5px 0;

        >img{
          width: 150px;
        }
      }
    }
  }

  >main {

    >section.banner{
    
      >div.banner-wrapper{
        position: relative;

        >img{
          width: 100%;
          height: auto;
          max-height: 450px;
          position: relative;
          object-fit: cover;
        }
        
        >div.banner-title {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 30px 0 0;
          background-color: $grey-color;
          border-radius: 40px 40px 0 0;

          >div.title {
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin: 5px auto;
            
            >h2{
              font-family: $police-logo_titles;
              font-size: 1.6em;
              margin: 0;
            }

            div.heart-animation {
              position: relative;
              width: 24px;
              height: 24px;

              >a{
                text-decoration: none;
                color: #000;

                i.heart-primary{
                  font-size: 1.5em;
                  margin: 0;
                  padding-right: 15px;
                  position: relative;
                  width: 24px;
                  height: 24px;

                  &:hover i.heart-secondary {
                    clip: rect(0px,24px,24px,0px);
                    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
                    background-clip: border-box;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                  }

                  >i.heart-secondary{
                    position: absolute;
                    top: 0; bottom: 0; left: 0; right: 0;
                    margin: 0;
                    padding-right: 15px;
                    clip: rect(24px,24px,24px,0px);
                    transition: clip 1s;
                  }
                }
              }
          }
          }
        }
      }
    }

    >section.meals{
      margin: auto;
      padding-top: 10px;
      background-color: $grey-color;

      >article{
        width: 90%;
        margin: 0 auto;

        &:nth-child(1){
          animation: fadein 2s;
        }
        &:nth-child(2){
          animation: fadein 4s;
        }
        &:nth-child(3){
          animation: fadein 6s;
        }

        @keyframes fadein {
          from {
            opacity:0;
          }
          to {
            opacity:1;
          }
        }

        >h3.meal-categorie{
          font-size: 1em;
          font-weight: normal;
          text-transform: uppercase;
          margin: 0;
          padding: 20px 0 7px;
        }

        >div.underline-title{
          background-color: $color-tertiary;
          width: 45px;
          height: 4px;
          margin-bottom: 15px;
        }

        >ul{
          padding: 0;
          display: flex;
          flex-direction: column;
          gap: 15px;

          >li.meal-body{
            background-color: #fff;
            border-radius: 15px;
            box-shadow: 0px 3px 10px rgb(204, 203, 203);

            >a.meal-link{
              text-decoration: none;
              color: #000;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
  
              &:hover div.meal-check{
                width: 60px !important;
                
                i{
                  transform: rotate(360deg);
                }
              }
  
              >div.meal-txt{
                display: flex;
                flex-direction: column;
                margin: 12px 10px;
                white-space: nowrap;
                overflow: hidden;
  
                >h4.meal-name{
                  margin: 0;
                  margin-bottom: 5px;
                  font-size: 1.1em;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
  
                >p.meal-components{
                  margin: 0;
                  font-size: 0.9em;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
  
                }
              }
              >div.meal-details{
                display: flex;
  
                >div.meal-price{
                  height: 100%;
                  display: flex;                 

                  >p{
                    margin: 12px 10px;
                    font-size: 0.9em;
                    font-weight: bold;
                    align-self: flex-end;
                  }
                }
                
                >div.meal-check{
                  height: 100%;
                  background-color: $color-tertiary;
                  border-radius: 0 15px 15px 0;
                  display: flex;                  
                  width: 0;
                  overflow: hidden;
                  transition: all 0.5s;
                  
                  >i{
                    color: #fff;
                    font-size: 1.2em;
                    margin: auto;
                    align-self: center;
                    transition: all 0.5s;
                  }
                }
                  
              }
            }
          }
        }
      }

      >div.btn-primary-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        >a.btn-primary {
          background: linear-gradient(to bottom right, $color-secondary, $color-primary);
          color: #fff;
          text-decoration: none;
          margin: 30px auto 50px;
          padding: 15px 50px;
          border-radius: 70px;
          box-shadow: 0px 3px 10px rgb(184, 182, 182);

          &:hover{
            box-shadow: 0px 5px 12px rgb(128, 126, 126);
            transition: all 0.5s;
            background: linear-gradient(to bottom right, $color-secondary, $color-secondary, $color-primary);
          }
        }
      }
    }

  }

  >footer {
    background-color: rgb(53, 53, 53);
    color: #fff;
    padding: 30px 0 15px;

    >h5 {
      font-family: $police-logo_titles;
      font-size: 1.3rem;
      margin: 0;
      padding-left: 30px;
    }

    >div {
      margin: 25px 30px;
      padding: 0;

      >ul {
        margin: 0;
        padding: 0;

        >li {
          list-style-type: none;
          margin: 10px 0;

          >a {
            text-decoration: none;
            color: #fff;

            >i.fa-solid {
              color: #fff;
              width: 30px;
            }
          }
        }
      }
    }
  }
}

/***********************************/
/***********************************/
// PAGE INDEX
/***********************************/
/***********************************/

body {
  font-family: 'Raleway', sans-serif;


  
  
  /*
  >div.spinner-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: #fff;
    animation: slide 3s 1 forwards;

    @keyframes slide {
      from {
        opacity: 1;
        z-index: 100;
      }
      50%{
        opacity: 1;
      }
      to   { 
        opacity: 0;
        z-index: -1;
      }
    }

    &::before{
      content: "";
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }

      >div.loading {
        background-color: #99E2D0;
        display: inline-block;
        vertical-align: middle;
        width: 100px;
        height: 100px;
        border: 8px solid #9356DC;
        border-radius: 50%;
        border-top-color: #FF79DA;
        animation: spin 1s ease-out infinite;
        -webkit-animation: spin 1s ease-out infinite;
        transition: all 1s;
      }
        
      @-webkit-keyframes spin {
        0% {
            transform: rotate(0deg);
            background: $color-primary;
        }
        50% {
            transform: rotate(180deg);
            background: $color-secondary;
        }
        100% {
            transform: rotate(360deg);
            background: $color-primary;
        }
      }
    }
    */

  header {
    display: flex;
    justify-content: center;
    margin-top: 15px;

    >h1{
      margin: 5px 0;

      >img{
        width: 150px;
      }
    }
  }




  main {
    /*
    >section.location {

      background-color: rgb(228, 228, 228);
      border-top: 1px solid #ddd;
      box-shadow: 0 2px 5px #999 inset;

      >div.location-wrapper{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;

        >div.location-dot {
          position: absolute;
          width: calc(50% - 75px);
          display: flex;
          justify-content: flex-end;
          

          >i {
            font-size: 1em;
            color: rgb(69, 69, 69);
          }
        }

        >div.location-txt {
          display: flex;
          justify-content: center;
          width: 100%;
          position: relative;

          >p {
            font-size: 1em;
            font-weight: bold;
            color: rgb(69, 69, 69);
          }
        }
      }
    }
    */
    


    /*
    >section.description {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: $grey-color;

      >h2 {
        margin: 50px 50px 10px 50px;
        font-size: 1.5em;
      }

      >p {
        margin: 10px 30px 35px 30px;
        font-size: 1.2em;
        color: rgb(69, 69, 69);
      }

      >a.btn-primary {
        background: linear-gradient(to bottom right, $color-secondary, $color-primary);
        color: #fff;
        text-decoration: none;
        margin-bottom: 60px;
        padding: 15px 25px;
        border-radius: 70px;
        box-shadow: 0px 3px 10px rgb(184, 182, 182);

        &:hover{
          box-shadow: 0px 5px 12px rgb(128, 126, 126);
          transition: all 0.5s;
          background: linear-gradient(to bottom right, $color-secondary, $color-secondary, $color-primary);
        }
      }
    }
    */

    /*
    >section.stages {
      margin: auto;
      padding: 50px 0;

      >h3 {
        font-size: 1.5em;
        width: 90%;
        margin: 0 auto 30px;
      }

      >div.stage {
        width: 90%;
        margin: 0 auto;
        padding-left: 5%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 25px;

        >div.nb-stage{
          position: absolute;

          >p.stage-nb {
            position: relative;
            top: 5px;
            right: 175px;
            background-color: $color-primary;
            color: #fff;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            font-size: 1em;
            display: flex;
            justify-content: center;
            line-height: 1.7em;
          }
        }

        >div.btn-stage {
          width: 350px;
          height: 70px;
          display: flex;
          align-items: center;
          background-color: $grey-color;
          border-radius: 20px;
          box-shadow: 0px 3px 10px rgb(204, 203, 203);

          >i {
            color: rgb(109, 106, 106);
            font-size: 1.2em;
            width: 40px;
            margin-left: 35px;
          }

          p.stage-txt {
            font-weight: bold;
          }
        }
      }
    }
    */


    
    /*
    >section.restaurants {
      background-color: $grey-color;
      margin: auto;
      padding: 50px 0;

      >h3 {
        font-size: 1.7em;
        width: 90%;
        margin: 0 auto 30px;
      }

      >div.restaurants-wrapper {
        width: 90%;
        margin: auto;

        >div.restaurant-card {
          background-color: #fff;
          display: flex;
          flex-grow: 1;
          width: 100%;
          border-radius: 20px;
          box-shadow: 0px 3px 10px rgb(204, 203, 203);
          margin-bottom: 25px;

          >a {
            color: #000;
            text-decoration: none;
            width: 100%;

            >div.img-wrapper {
              position: relative;

              >div.img-restaurant {
                position: relative;
                overflow: hidden;
                height: 200px;
                border-radius: 15px 15px 0 0;

                >img {
                  width: 101%;
                  height: 101%;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  object-fit: cover;
                }
              }

              >div.img-content {
                >p.new-restaurant {
                  position: absolute;
                  top: 0;
                  right: 15px;
                  background-color: $color-tertiary;
                  font-size: 0.9em;
                  padding: 5px 10px;
                  border-radius: 3px;
                }
              }
            }

            >div.restaurant-body {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              margin: 10px;

              >div.restaurant-txt {
                >h4{margin: 5px 0;}
                >p{margin: 5px 0;}
              }

              >div.restaurant-heart {
                display: flex;
                align-items: center;
                padding-bottom: 10px;

                i.heart-primary{
                  font-size: 1.5em;
                  margin: 0;
                  padding-right: 15px;
                  position: relative;
                  width: 24px;
                  height: 24px;

                  &:hover i.heart-secondary {
                    clip: rect(0px,24px,24px,0px);
                    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
                    background-clip: border-box;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                  }

                  >i.heart-secondary{
                    position: absolute;
                    top: 0; bottom: 0; left: 0; right: 0;
                    margin: 0;
                    padding-right: 15px;
                    clip: rect(24px,24px,24px,0px);
                    transition: clip 1s;
                  }
                }
              }

            }
          }
        }
      }
    }
    */
  }

  footer {
    background-color: rgb(53, 53, 53);
    color: #fff;
    padding: 30px 0 15px;

    >h5 {
      font-family: $police-logo_titles;
      font-size: 1.3rem;
      margin: 0;
      padding-left: 30px;
    }

    >div {
      margin: 25px 30px;
      padding: 0;

      >ul {
        margin: 0;
        padding: 0;

        >li {
          list-style-type: none;
          margin: 10px 0;

          >a {
            text-decoration: none;
            color: #fff;

            >i.fa-solid {
              color: #fff;
              width: 30px;
            }
          }
        }
      }
    }
  }
}


@media all and (max-width:$mobile) {
  body {

    >header {}

    >nav {}

    >main {
      >section {}

      >article {}
    }

    >footer {
      >ul {}
    }
  }
}

@media all and (min-width:$mobile) and (max-width:$tablette) {
  body {
    >header {}

    >nav {}

    >main {
      >section {}

      >article {}
    }

    >footer {
      >ul {}
    }
  }
}

// @media all and (min-width:$desktop) and (max-width:$tv){
@media all and (min-width:$desktop) {
  body {
    >header {}

    >nav {}

    >main {
      >section {}

      >article {}
    }

    >footer {
      >ul {}
    }
  }
}

// @media all and (min-width:$tv){
//   body{
//     >header{}
//     >nav{}
//     >main{
//       >section{}
//       >article{}
//     }
//     >footer{
//       >ul{}
//     }
//   }
// }