/**/


$XS: 5px;
$S: 10px;
$S_: 15px;
$M: 20px;
$L: 30px;
$XL: 50px;
$XXL: 60px;

$titres: 'typography des titre';
$contenus: 'typography des contenus';

$primary: #111;
$secondary: #222;
$ternary: #333;



$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$grey-color:rgb(245, 245, 245);
$police-logo_titles: 'Shrikhand', 'cursive';
$police-txt: 'Roboto', 'sans-serif';

